.friendsList_item {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  margin: 2px;
  align-items: center;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background: green;
}

.offline {
  background: red;
}

.name {
  font-weight: 500;
}
